/* Body styles */
body {
  font-family: 'Roboto', sans-serif;
  background-color: #f5f5f5;
  margin: 0;
  padding: 0;
}

/* Container styles */
div > h1 {
  font-size: 24px;
  font-weight: 500;
  color: #333;
  margin-bottom: 20px;
}

/* Heading styles */
div > div > div > h2 {
  font-size: 20px;
  font-weight: 500;
  color: #333;
  cursor: pointer;
  margin-bottom: 5px;
}

/* Input styles */
div > div > div > div > input[type="text"] {
  width: 100%;
  padding: 10px;
  margin-bottom: 10px;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
}

/* Button styles */
button {
  background-color: #007bff;
  color: #fff;
  border: none;
  padding: 10px 20px;
  border-radius: 4px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

button:hover {
  background-color: #0056b3;
}

.deletebtn {
  background-color: #ff0000;
  color: #fff;
  border: none;
  padding: 10px 20px;
  border-radius: 4px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.deletebtn:hover {
  background-color: #b30000;
}


/* List item styles */
div > div > div > div {
  background-color: #fff;
  padding: 20px;
  margin-bottom: 20px;
  border-radius: 4px;
  box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.1);
}

div > div > div > div:hover {
  box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.1);
}

div > div > div > div > p {
  font-size: 16px;
  color: #555;
}
